<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Web-Ifc, DBL</title>
        <script src="/public/js/libs/three.js"></script>
        <script src="/public/js/libs/WebGL.js"></script>
        <script src="/public/js/libs/OrbitControls.js"></script>
        <script src="/public/js/libs/dat.gui.min.js"></script>
    </head>
<body>
    <div id = "Scene3d"></div>
    <script src="/public/js/utils/nsMain.js"></script>
</body>
</html>
