<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>draw-bot, DBL</title>

        <script src="/public/js/libs/paper-full.min.js"></script>
        <script src="/public/js/libs/three.js"></script>
        <script src="/public/js/libs/WebGL.js"></script>
        <script src="/public/js/libs/OrbitControls.js"></script>
        <script src="/public/js/libs/dat.gui.min.js"></script>

        <script src="/public/js/utils/sceneGraph/nsSecondMenu.js"></script> 
        <script src="/public/js/utils/sceneGraph/nsMainMenu.js"></script> 
        <script src="/public/js/utils/nsMainSceneGraph.js"></script> 

    </head>
<body>
   <div class = 'container'>
       {{{body}}}
   </div>
</body>
</html>
