<style>
    #sceneGraphCanvas{
        border:1px solid grey;
    }
     #container{
        position:relative;
    }
    scene3d{
        border: 1px solid black;
    }
    body{
        margin:0;
    }
</style>


<div id="container" >
    <div id = "Scene3d"></div>
</div>
<script src="/public/js/utils/nsMain3dInterface.js"></script>



<canvas id="sceneGraphCanvas" height="500" width="500" style="position:absolute; left:20px; top:25px"></canvas>

