<style>
    #sceneGraphCanvas{
        border:1px solid grey;
    }
     #container{
        position:relative;
    }
    #scene3d{
        border: 1px solid black;
    }
    body{
        margin:0;
    }
    #menu{
        width : 30%;
        height : 10%;
        position : relative;
        left : 10px;
        top : 25px;
    }
    #floating {
        color : #ffffff;
        background : #000000;
        opacity : 0.5;
        width : 30%;
        height : 80%;
        position : absolute;
        left : 30%;
        top : 10%;
        border : 1px solid #555555;
        padding : 10px;
        display : none;
        overflow : auto;
        z-index: 100;
    }
    span.link{
        color:black;
        cursor:pointer;
        text-decoration:underline;
    }
    a{
        color:skyblue;
    }
</style>

<div id="menu">
    <h4 id="show-menu">SHOW MENU</h4>
    <h4 id="hide-menu">HIDE MENU</h4>
</div>

<div id="hidden">
    <textarea id="elements" hidden></textarea>
</div>
<div id="container" >
    <div id = "Scene3d"></div>
</div>
<script src="/public/js/utils/nsGlobalVariables.js"></script>
<script src="/public/js/utils/nsGeomLib.js"></script>
<script src="/public/js/utils/nsMainMenu3dInterface.js"></script>
<script src="/public/js/utils/nsGenGeomMenu.js"></script>
<script src="/public/js/utils/nsMain3dInterface.js"></script>


<script>
    createMenu();
</script>

