<style>
    #sceneGraphCanvas{
        border:1px solid grey;
    }
     #container{
     z-index : 0;
        position:absolute;
    }
    #menu{
        z-index : 3;
        position : absolute;
        left : 10px;
        top : 25px;        
        width : 30%;
        height : 10%;        
    }
    #floating {
        color : #ffffff;
        background : #000000;
        opacity : 0.5;
        width : 30%;
        height : 80%;
        position : absolute;
        left : 30%;
        top : 10%;
        border : 1px solid #555555;
        padding : 10px;
        display : none;
        overflow : auto;        
    }
    body{
        margin:0;
    }
 
 
    span.link{
        color:black;
        cursor:pointer;
        text-decoration:underline;
    }
    a{
        color:skyblue;
    }
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>

<div id="menu">
    <h4 id="show-menu">SHOW MENU</h4>
    <h4 id="hide-menu">HIDE MENU</h4>
</div>

<div id="container" >
    <div id = "Scene3d"></div>
</div>
<script src="/public/js/utils/nsGlobalVariables.js"></script>
<script src="/public/js/utils/nsGeomLib.js"></script>
<script src="/public/js/utils/nsMainMenu3dInterface.js"></script>
<script src="/public/js/utils/nsGenGeomMenu.js"></script>
<script src="/public/js/utils/nsMain3dInterface.js"></script>


<script>
    createMenu();
</script>

