
<style>
    body{
        background: #000000;
    }
    #all-containers{
        overflow: scroll;
    }
    #canvas-viewer{
        border:1px solid grey;
        position:relative;
        float:left;
    }
    #containers{
        overflow:hidden;
        overflow:auto;
    }

    #three-viewer{
        margin-left:750px;
    }  
    #floating {
        color : #ffffff;
        background : #000000;
        opacity : 0.5;
        width : 50%;
        height : 50%;
        position : absolute;
        left : 10%;
        top : 10%;
        border : 1px solid #555555;
        padding : 10px;
        display : none;
        overflow : auto;    
        z-index : 10;    
    }
    #menu{
        z-index : 3;
        position : absolute;
        left : 550px;
        top : 25px;        
        width : 150px;
        height : 10%;        
    }
    p.elements-menu{
        color: black;
        background-color:yellow;
        font-family: courier;
        font-size: 160%;
    }
    p.elements-menu:hover{
        background-color:red;
    }
    .button {
        background-color: #4CAF50; /* Green */
        border: 1px solid black;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .button:hover{
        background-color:red;
    }
    #property-table{
        border:1px solid black;
        border-width:3px; 
        padding: 10px;
        background-color:rgb(255,255,255);
    }
</style>

<div id="all-container">
    <div id="containers">
        <canvas id = "canvas-viewer" height="500" width="500"></canvas>
        <div id="threeviewer-container">
            <div id = "three-viewer"></div>
        </div>
    </div>

    <div id="menu">
        <p class="elements-menu" id="geom-menu">GEOMETRY</p>
        <p class="elements-menu" id="drag-mode">DRAG-MODE</p>
        <p class="elements-menu" id="connect-mode">CONNECT-MODE</p>
        <p class="elements-menu"  id="hide-menu">HIDE MENU</p>
    </div>

    <!--<script src="/public/js/utils/nsDraw2d.js"></script>-->

    <div id="table-container">
        <table id="property-table" border=1>
            <p>Property table</p>
        </table>
    </div>
</div>


<script src="/public/js/utils/nsRandomFunctions.js"></script>
<script src="/public/js/utils/nsGlobalVariables.js"></script>
<script src="/public/js/utils/nsGeomLib.js"></script>
<script src="/public/js/utils/nsGenGeomMenu.js"></script>
<script src="/public/js/utils/nsUpdateProp.js"></script>
<script src="/public/js/utils/nsConnectElements.js"></script>
<script src="/public/js/utils/nsMainMenuInterface.js"></script>

<script>
    createMenu();//file=nsMainMenuInterface, function=createMenu()

    
</script>

<script src="/public/js/utils/nsMain3dInterface.js"></script>
<script src="/public/js/utils/nsMain2dInterface.js"></script>
